body {
    background-color: #313131;
    margin: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    border: 0;
}

#container {
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

#proj_desc {
    font-size: 1.3em;
}

h1 {
    background-color: #313131;
    color: white;
    font-size: 1.5em;
    padding-top: 0.1em;
    padding-left: 0.4em;
    padding-bottom: 0.2em;
}

h2 {
    color: #313131;
    font-size: 1.2em;
}

#navbar, #navbar_about {
    text-align: center;
    padding: 0.3em;
}

#navbar a, #navbar_about a {
    text-decoration: none;
    color: blue;
    padding: 0.3em;
}

#navbar a:hover, #navbar_about a:hover {
    text-decoration: underline;
    color: red;
}
