body {
    background-color: white;
}

div.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    border: 0;
}

#container {
    margin-left: 2%;
    margin-right: 2%;
}
